.add-chat-button {
  position: relative;
  top: -1vh;
  right: -48vw;
  background: url('/home/dev/Рабочий стол/Messanger/my-messenger/src/assets/plus.svg') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2a2727;
}

.chat-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #302e2e;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-list {
  width: 100%;
  padding: 20px;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #1c1919;
  cursor: pointer;
  background-color: #453f3f;
  color: #fff; 
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.chat-item:hover {
  background-color: #3a3636; /* Adjusted hover color */
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-info img {
  width: 24px; /* Adjust size as needed */
  height: 24px;
  margin-right: 10px; /* Space between icon and chat name */
}

.chat-name {
  font-weight: bold;
  color: #ffffff;
}

.last-message {
  color: #777;
}

.chat-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-time {
  font-size: 0.8em;
  color: #aaa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #100f0f;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.chat-input,
.user-input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
}

.search-results,
.selected-users {
  margin: 10px 0;
  background-color: #000000;
  padding: 10px;
  border-radius: 4px;
}

.search-result-item,
.selected-user-item {
  padding: 10px;
  border: 1px solid #000000;
  margin: 5px 0;
  cursor: pointer;
  background-color: #000000;
}

.search-result-item.selected,
.selected-user-item:hover {
  background-color: #e0e0e0;
}
