.add-chat-button {
  position: absolute;
  top: 26vh;
  right:42vh;
  background: url('../../assets/plus.svg') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}


.chat-list-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  max-width: 800px; 
  background-color: none;
  overflow-y: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.chat-list {
  overflow-y: auto; 
  max-height: 20vh;
  width: 100%;
  padding: 20px;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #1c1919;
  cursor: pointer;
  background-color: hsla(245, 50%, 5%, 0.826);
  color: #fff; 
  transition: background-color 0.3s ease;
}
.chat-list-container{
  max-width: 100wv;
  max-height: 1px;
}
.chat-item:hover {
  background-color: #101327;
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-info img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.chat-name {
  font-weight: bold;
  color: #ffffff;
}

.last-message {
  color: #777;
}

.chat-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-time {
  font-size: 0.8em;
  color: #aaa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  width: 50%;
  height: 60%; 
  background-color: #100f0f;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.chat-input,
.user-input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #ffffff;
}

.search-input {
  position: absolute;
  top: 25vh;
  right: 25vw;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #ffffff;
  z-index: 2;
}
