
.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-page-title {
    color: white;
    margin-bottom: 20px; 
    font-size: 2rem; 
    text-align: center;
  }
  