
.register-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); 
    padding: 20px;
    box-sizing: border-box;
}
  
  .register-page-title {
    color: white;
    font-size: 2rem;
    text-align: center; 
  }
  